<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.streamslience.simples.deleted.mpsllogicaldeleted.dao.LogicalDeletedDao">

    <select id="getLogicalInfo"
            resultType="com.streamslience.simples.deleted.mpsllogicaldeleted.entity.LogicalDelete">
        SELECT
        *
        FROM xx_logical_delete
        WHERE
        logical_id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>